@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #loader {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
  }
  .header .logo {
    width: 100px;
    height: 60px;
  }
  #menu-bar {
    display: inline-block;
    font-size: 3.5rem;
  }
  #menu-search {
    font-size: 2.5rem;
  }
  .header .icon-header {
    font-size: 5rem;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    width: 80%;
    left: 10%;
    right: 0;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5%;
    -webkit-transition: 0.2s linear;
    transition: 0.5s linear;
  }
  .navbar.active {
    display: block;
    background: #fff;
    box-shadow: 1em 1em #fe982f;
  }
  .welcome-text h1 {
    font-size: 30px;
    font-size: 3.5rem;
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    color: #111;
    font-size: 14px;
  }
  .header .search {
    left: 3%;
    width: 90%;
  }
  .banner-bg .inner-text h1 {
    font-size: 40px;
  }
  .banner-bg .inner-text p {
    width: 90%;
    margin: 5px 5% 25px 5%;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
  .home .slide .content p {
    font-size: 1.2rem;
  }
  .home .slide {
    justify-content: center;
  }
  .inner-text {
    width: 100% !important;
  }
  .main-welcome {
    flex-direction: column;
  }
  .welcome-text a {
    padding: 8px 12px;
  }
  .inner-welcome img {
    margin-top: 20px;
  }
  .choose-us h1 {
    font-size: 35px;
    padding: 20px 10px 0px 10px;
    margin-bottom: 0px;
  }
  .choose-icon {
    width: 70px;
    height: 70px;
    line-height: 80px;
  }
  .inner-choose h2 {
    padding: 0px 0;
    margin: 1rem 0 0 0;
  }
  .inner-choose {
    padding-bottom: 2rem;
  }
  .choose-text {
    padding: 0 20px 50px 20px;
    font-size: 12px;
  }
  .inner-choose p {
    font-size: 12px;
  }
  .about .row .content p {
    margin-top: -10%;
  }
  .about .row .content h3 {
    font-size: 2.8rem;
  }
  .about .row .content p {
    font-size: 1.5rem;
  }
  .about .row {
    gap: 0rem;
  }
  .about-btn {
    padding: 8px 12px;
  }
  .our-gallery h1 {
    font-size: 3.5rem;
  }
  .projects .box-container {
    padding-top: 2.5rem;
  }
  .customer-review h1 {
    font-size: 3.5rem;
  }
  /* contact */
  .contact-wrapper {
    flex-direction: column;
    /* margin-left: 6%; */
  }
  .contact-wrapper {
    padding: 0px;
    max-width: 80%;
  }
  .form-horizontal {
    width: 100%;
  }
  .send-button {
    width: 100%;
    margin-left: 1%;
  }
  .alt-send-button {
    width: 100%;
  }
  .direct-contact-container {
    width: 100%;
    padding-top: 3rem;
  }
  hr {
    width: 100%;
  }
  .social-media-list li {
    width: 40px;
  }
  .contact-text {
    letter-spacing: 0px;
  }
  .place,
  .phone,
  .gmail {
    margin-left: 2rem;
    font-size: 1.8rem;
    color: #fff;
    margin-left: 20px;
  }
  .gmail {
    text-transform: lowercase;
  }
  .social-media-list {
    font-size: 16px;
  }
  .social-media-list li {
    margin: 0;
    border: transparent;
  }
  .contact-list {
    margin-left: -10%;
  }
  .send-button {
    margin-top: 20px;
  }
  .social_profile {
    margin-left: 5%;
  }
}

@media (min-width: 769px) {
  html {
    font-size: 55%;
  }
  .contact-wrapper {
    max-width: 100%;
  }
  .form-horizontal {
    width: 40%;
  }
  .send-button {
    width: 100%;
  }
  .alt-send-button {
    width: 100%;
  }
  .direct-contact-container {
    width: 60%;
    padding-top: 10%;
  }
}
@media (min-width: 1200px) {
  #direct-contact-container {
    margin-right: 11%;
  }
}
@media (min-width: 1000px) {
  .contact-wrapper {
    max-width: 100%;
  }
  .form-horizontal {
    width: 50%;
    padding-left: 5%;
  }
  .send-button {
    width: 65%;
  }
  .alt-send-button {
    width: 100%;
  }
  .direct-contact-container {
    width: 100%;
    padding-top: 5%;
    padding-right: 3%;
    margin-right: 2%;
  }
}
@media (min-width: 770px) and (max-width: 850px) {
  hr {
    width: 80%;
  }
}
@media (min-width: 700px) and (max-width: 768px) {
  .contact-wrapper {
    margin-left: 18%;
  }
  .send-button {
    width: 80%;
    margin-left: 0%;
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  .send-button {
    width: 80%;
    margin-left: 7%;
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .about .row .content p {
    margin-top: -7%;
  }
}
@media (max-width: 768px) {
  .social-media-list {
    font-size: 20px;
  }
}
@media (min-width: 1280px) {
  .form-horizontal {
    padding-left: 7%;
  }
}

/* footer */
@media (min-width: 992px) {
  .footer-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (max-width: 576px) {
  .footer-row {
    flex-wrap: wrap;
    margin-right: 0;
    text-align: center;
    margin-left: 0px;
  }
  .footer-col {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .single_footer h4 {
    font-size: 1.5rem;
  }
  .single_footer ul li a {
    font-size: 1.5rem;
  }
  .form-reg {
    text-align: center;
    margin: 0 auto;
  }
  .form-reg h4::after {
    margin-left: 41%;
  }
  .social_profile ul li {
    margin-left: 0%;
  }
  .subscribe__input {
    font-size: 13px;
    height: 40px;
  }
  .subscribe__btn {
    font-size: 15px;
    height: 40px;
  }
}
@media (min-width: 576px) {
  .footer-col {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
@media (min-width: 576px) {
  .footer-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .footer-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .footer-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .footer-container {
    max-width: 1140px;
  }
}
@media (max-width: 380px) {
  .choose-us h1 {
    font-size: 3.6rem;
  }
  .home .slide .content h3 {
    font-size: 2.6rem;
  }
  .home .slide .content h3 span {
    font-size: 3.8rem;
  }
}
